body {
  width: 100%;
  height: 100%;
}

.slideout-menu {
  position: fixed;
  //left: 0;
  top: 0;
  bottom: 0;
  z-index: 1110;
  right: 16px;
  width: 236px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: none;
}

.slideout-panel {
  position:relative;
  z-index: 1;
  will-change: transform;
}

.slideout-open
//.slideout-open body,
//.slideout-open .slideout-panel {
{
  transform: translate3d(-220px, 0, 0);
  //transform: translate3d(0,0,0) !Important;
}

.slideout-open .slideout-menu {
  display: block;
}

.toggle-button {
  display: none;
  @media (max-width: 640px) {
    display: block;
    background: transparent;
  }
}

.slideout-menu{
  transform: translate3d(236px, 0, 0) !important;
}

.slideout-open .slideout-panel{
  transition: transform linear 0.2s;

  transform: translate3d(-0px, 0, 0) !important;

}

html {
  transform: translate3d(0px, 0, 0);
  transition: transform linear 0.2s;

}
//
//.wow {
//  @media only screen and (min-resolution: 117dpi) and (max-resolution: 119dpi), only screen and (min-resolution: 131dpi) and (max-resolution: 133dpi), only screen and (min-resolution: 145dpi) and (max-resolution: 154dpi), only screen and (min-resolution: 162dpi) and (max-resolution: 164dpi), only screen and (min-resolution: 169dpi) {
//
//    visibility: visible !important;
//    -webkit-animation: none !important;
//    -moz-animation: none !important;
//    -o-animation: none !important;
//    -ms-animation: none !important;
//    animation: none !important;
//  }
//  @media only screen and (min-resolution: 165dpi) and (max-resolution: 168dpi), only screen and (min-resolution: 155dpi) and (max-resolution: 160dpi), only screen and (min-resolution: 134dpi) and (max-resolution: 144dpi), only screen and (min-resolution: 120dpi) and (max-resolution: 130dpi), only screen and (max-resolution: 116dpi) {
//
//    visibility: visible !important;
//    -webkit-animation: none !important;
//    -moz-animation: none !important;
//    -o-animation: none !important;
//    -ms-animation: none !important;
//    animation: none !important;
//  }
//}